* {
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.column.center-h {

}

.column.center-v {

}

.row.center-h {
    
}

.row.center-v {
    
}